<!DOCTYPE html>
<html>
<head>
    <title>Security Status</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'status.css' %}">
</head>
<body>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Program</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for program, details in status.items %}
                    <tr>
                        <td>{{ program }}</td>
                        <td>
                            {% if details %}
                                {% if details == 'Windows Firewall' or details == 'UFW' or details == 'Not detected' %}
                                    {{ details }}
                                {% else %}
                                    {% for detail in details %}
                                        {{ detail }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% else %}
                                Not detected
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
