<!DOCTYPE html>
<html>
<head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Security Status</title>
    <style>
        .table-container {
            overflow-x: auto;
            margin-bottom: 20px;
        }
        .table-container table {
            width: 100%;
            border-collapse: collapse;
        }
        .table-container th, .table-container td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        .table-container th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="../cve-list/">CVE List</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../update/">Update</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../checklist/">Checklist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../ransomware/">Ransomware</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Program</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for program, details in status.items %}
                    <tr>
                        <td>{{ program }}</td>
                        <td>
                            {% if details %}
                                {% if details == 'Windows Firewall' or details == 'UFW' or details == 'Not detected' %}
                                    {{ details }}
                                {% else %}
                                    {% for detail in details %}
                                        {{ detail }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% else %}
                                Not detected
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
